{{>_schedules}}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5>Tutores Disponíveis</h5>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/images/tutors/sandro.jpg" width="150" alt="/images/tutors/.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Mecânica</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <div class="row">
                                            <div class="col">
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins                                                        </small>
                                                </p>
                                            </div>
                                            <div class="col">
                                                <button data-bs-toggle="modal" data-bs-target="#schedule" class="btn btn-outline-info "><i
                                                        class="fas fa-calendar-day"></i> Agendar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/images/tutors/alvimar.jpg" width="150" alt="/images/tutors/.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Elétrica</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <div class="row">
                                            <div class="col">
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins                                                        </small>
                                                </p>
                                            </div>
                                            <div class="col">
                                                <button data-bs-toggle="modal" data-bs-target="#schedule" class="btn btn-outline-info "><i
                                                        class="fas fa-calendar-day"></i> Agendar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>