
{{>_modalMAIS}}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>Olá Grupo X, parabéns Começamos agora o jogo.</h5>
                    <small>Divirta-se muito neste jogo</small>
                    <hr>
                    <div class="progress mt-3">
                        <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">1%</div>
                    </div>
                    <hr>
                    <h1 class="text-center">CONFIRAS SUAS FASE</h1>
                    <hr>
                    <div class="row mt-5">
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">1ª FASE O primórdio</h5>
                                    <p class="card-text">Bem vindo ao início de sua jornada! Na primeira fase, precisamos que você escolha sey time e busque pelos três melhores caminhos possíveis a seguir.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12" data-bs-toggle="modal"
                                        data-bs-target="#VERMAIS1">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">2ª FASE Um novo amigo</h5>
                                    <p class="card-text">Agora seu time precisa resolver um quiz, para identificar as maiores potências dentres seus conhecimentos.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">3ª FASE - Os pergaminhos</h5>
                                    <p class="card-text">A etapa 3 porpõe uma árdua tarefa de descobrir qual é o alvo quer estão mirando e porque seguir este caminho.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">4ª FASE - A idéia se materializa</h5>
                                    <p class="card-text"> Dentro desta missão, precisaremos dar vida a nossa ideia. Pra isso o time será direcionado a um jogo no qual aprenderão a prototipagem.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">3ª FASE</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up the bulk of the card's content.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">3ª FASE</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up the bulk of the card's content.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">3ª FASE</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up the bulk of the card's content.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">3ª FASE</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up the bulk of the card's content.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/demo.jpg" class="card-img-top"
                                    alt="/images/demo.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">3ª FASE</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up the bulk of the card's content.</p>
                                    <hr>
                                    <h3 class="text-center text-light">XP 100 </h3>
                                    <hr>
                                    <button class="btn btn-primary col-12">VER MAIS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
