<div class="container">
    <div class="card" style="background-color: rgba(52, 5, 95, 0.87); color: white;">
        <div class="car-body">
            <h1 class="text-light text-center mt-1">GAMER_GDSPI</h1>
            <hr>
            <form action="/account/register" method="post">
                <div class="row">
                    <div class="col">
                        <i class="fas fa-rocket ml-4" style="font-size: 280px; color:rgba(32, 5, 56, 0.87);"></i>
                    </div>
                    <div class="col">
                        <div class="row mt-2">
                            <div class="col">
                                <h5> <i class="fas fa-user-circle text-light text-md"></i> Docente</h5>
                                <select name="docente" id="docente" class="form-control">
                                    <option value="">Selecione seu docente</option>
                                    <option value="Alvimar">Alvimar - Elétrica</option>
                                    <option value="Sandro">Sandro - Mecânica</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <h5> <i class="fas fa-user-astronaut text-light text-md"></i> Username</h5>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Digite seu username" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <h5> <i class="fas fa-lock text-light text-md"></i> Senha</h5>
                                <input type="password" class="form-control" name="password" id="password" required
                                    placeholder="Digite sua senha">
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-4">
                            <div class="col">
                                <button class="btn btn-info col-12">Enviar</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col">
                        <i class="fas fa-satellite ml-4" style="font-size: 280px; color:rgba(32, 5, 56, 0.719);"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>