<div class="container mt-2">
    <div class="card">
        <div class="card-body">
            <!--Footer Start-->
            <footer class="footer">
                <div class="footer-top wf100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                        <img src="/images/logotipo.png" alt="">
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <!--Footer Widget Start-->
                                <div class="footer-widget">
                                    <h4>Sobre Nós
                                    </h4>
                                    <p> Se algo está em alta na economia de hoje, é economizar dinheiro, incluindo uma
                                        ampla gama de
                                        empresas verdes ajudando as pessoas a economizar energia, água e outros
                                        recursos.
                                        Definitivamente, você pode ir com este negócio, pois nada mais é do que o
                                        futuro. </p>
                                    <a href="#" class="lm">Sobre nós
                                    </a>
                                </div>
                                <!--Footer Widget End-->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!--Footer Widget Start-->
                                <div class="footer-widget">
                                    <h4>Valores</h4>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fas fa-brain"></i>
                                                Gameficação
                                            </p>
                                        </li>
                                        <li>
                                            </i>
                                            <p>
                                                <i class="fas fa-gamepad"></i>
                                                Diversão
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <i class="fas fa-user-graduate"></i>
                                                Aprendizado
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <i class="fas fa-users"></i>
                                                Trabalho em Equipe
                                            </p>
                                        </li>
                                    </ul>

                                </div>
                                <!--Footer Widget End-->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer-copyr wf100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <p>
                                    Firjan SENAI Barra Mansa
                                </p>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <p>
                                    <i class="fas fa-users"></i>
                                    IsaacDSC, Pablo, Renato, Sandro, Alvimar
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    <i class="fas fa-users"></i>
                                    TEAM PURPLE
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--Footer End-->

        </div>
    </div>
</div>