<div class="modal" tabindex="-1" id="VERMAIS1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark">ETAPA X</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p class="text-dark">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus dui sed magna
                                pretium, eu sodales libero vehicula. Maecenas in lobortis risus. Morbi rutrum sit amet
                                lectus sit amet venenatis. Sed aliquet est turpis, vitae sollicitudin ligula consequat
                                ut. Donec cursus neque nec eros gravida, et eleifend eros viverra. Vestibulum viverra
                                condimentum finibus. Fusce dolor lorem, tincidunt vel congue scelerisque, maximus ut
                                sapien. Aenean augue dolor, eleifend at magna in, cursus cursus sem. Sed et magna nec
                                elit porttitor bibendum. Maecenas semper ex vitae interdum vestibulum. Fusce laoreet
                                sollicitudin luctus. Ut non est vitae mauris suscipit consectetur. Nulla facilisi.
                            </p>
                            <button class="btn btn-success">Download Manual</button>
                        </div>
                    </div>
                    <hr class="text-dark">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-center text-dark">Entrega e ganha de XP</h4>
                            <hr>
                            <input type="file" name="" id="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>