<div class="modal" tabindex="-1" id="participar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">DEMANDA SAGA SENAI E GSPI</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/demand" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="text-dark text-center">
                                <i class="fas fa-flag-checkered"></i> JOGUE GSPI !</h5>
                            <hr class="text-dark">
                            <h6 class="text-dark"><strong>DEMANDA: </strong> Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.
                            </h6>
                            <h6 class="text-dark"><strong>DESCRIÇÃO DA DEMANDA: </strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar enim erat,
                                id semper odio ultrices ac. Pellentesque at accumsan ipsum. Class aptent taciti
                                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce
                                viverra nisl vitae felis efficitur, non sollicitudin dolor tempus. Aliquam sit amet
                                ullamcorper magna, ac congue nisi. Vestibulum ante ipsum primis in faucibus orci
                                luctus et ultrices posuere cubilia curae; Integer facilisis pharetra tortor.
                            </h6>
                        </div>
                    </div>
                    <hr class="text-dark">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="row">
                                <div class="col">
                                    <label for="" style="color: black;">Turma</label>
                                    <input type="text" name="turma1" id="turma1" class="form-control" placeholder="Numero da Turma" required>
                                </div>
                                <div class="col">
                                    <label for="" style="color: black;">Modalidade</label>
                                    <input type="text" name="modalidade1" id="modalidade1" class="form-control" placeholder="Automação" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="" style="color: black;">Turma</label>
                                    <input type="text" name="turma2" id="turma2" class="form-control" placeholder="Numero da Turma">
                                </div>
                                <div class="col">
                                    <label for="" style="color: black;">Modalidade</label>
                                    <input type="text" name="modalidade2" id="modalidade2" class="form-control"
                                        placeholder="Tecnologia Informação">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="" style="color: black;">Turma</label>
                                    <input type="text" name="turma3" id="turma3" class="form-control" placeholder="Numero da Turma">
                                </div>
                                <div class="col">
                                    <label for="" style="color: black;">Modalidade</label>
                                    <input type="text" name="modalidade3" id="modalidade3" class="form-control" placeholder="Mecânica">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <hr class="text-dark">
                            <h5 class="text-dark text-center">TIME</h5>
                            <hr class="text-dark">
                            <div class="row">
                                <div class="col mt-2">
                                    <input type="text" name="team" id="team" class="form-control mt-2"
                                        placeholder="Nome da Equipe" required>
                                    <input type="text" name="user01" id="user01" class="form-control mt-2" placeholder="Username Integrante" required>
                                    <input type="text" name="user02" id="user02" class="form-control mt-2 "
                                        placeholder="Username Integrante" required>
                                </div>
                                <div class="col mt-2">
                                    <input type="text" name="user03" id="user03" class="form-control mt-2" placeholder="Username Integrante">
                                    <input type="text" name="user04" id="user04" class="form-control mt-2" placeholder="Username Integrante">
                                    <input type="text" name="user05" id="user05" class="form-control mt-2" placeholder="Username Integrante">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info col-12">JOGAR AGORA</button>
                </div>
            </form>
        </div>
    </div>
</div>