<div class="containter">
    <div class="containter">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col">
                                            <img src="/images/banner/01.jpg" class="alingt-center" width="700"
                                                alt="/images/banner/01.jpg">
                                        </div>
                                        <div class="col"></div>
                                    </div>

                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="text-light">First slide label</h5>
                                        <p class="text-light">Some representative placeholder content for the first
                                            slide.</p>
                                        <button class="btn btn-info col-6 text-light">PARTICIPAR</button>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col">
                                            <img src="/images/banner/02.jpg" class="alingt-center" width="700"
                                                alt="/images/banner/01.jpg">
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                        <button class="btn btn-info col-6 text-light">PARTICIPAR</button>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                   <div class="row">
                                        <div class="col"></div>
                                        <div class="col">
                                            <img src="/images/banner/03.jpg" class="alingt-center" width="700"
                                                alt="/images/banner/01.jpg">
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                        <button class="btn btn-info col-6 text-light">PARTICIPAR</button>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <h1 class="text-center mt-5">CONFIRA NOSSO GAME_SPI</h1>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col">
                                <label for="">Turmas</label>
                                <input type="text" name="" id="" class="form-control">
                            </div>
                            <div class="col">
                                <label for="">Modalidade</label>
                                <input type="text" name="" id="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col mt-2">
                                <input type="text" name="" id="" class="form-control mt-2" placeholder="Integrante">
                                <input type="text" name="" id="" class="form-control mt-2" placeholder="Integrante">
                            </div>
                            <div class="col mt-2">
                                <input type="text" name="" id="" class="form-control mt-2" placeholder="Integrante">
                                <input type="text" name="" id="" class="form-control mt-2" placeholder="Integrante">
                            </div>
                            <div class="col mt-2">
                                <input type="text" name="" id="" class="form-control mt-2 " placeholder="Integrante">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h5>JOGAR</h5>
                                <hr>
                                <h6><strong>DEMANDA: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </h6>
                                <h6><strong>DESCRIÇÃO DA DEMANDA: </strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar enim erat,
                                    id semper odio ultrices ac. Pellentesque at accumsan ipsum. Class aptent taciti
                                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce
                                    viverra nisl vitae felis efficitur, non sollicitudin dolor tempus. Aliquam sit amet
                                    ullamcorper magna, ac congue nisi. Vestibulum ante ipsum primis in faucibus orci
                                    luctus et ultrices posuere cubilia curae; Integer facilisis pharetra tortor. Donec
                                    eu nisl quis dui ornare vulputate placerat vitae diam. Nulla rutrum aliquam
                                    porttitor. Sed pellentesque dictum ex, ut pulvinar massa dapibus nec. Aliquam cursus
                                    ipsum nec tempor elementum.
                                </h6>
                                <hr>
                                <button class="btn btn-info col-12">JOGAR AGORA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>