{{>_participar}}
<div class="containter">
    <div class="containter">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col">
                                            <img src="/images/banner/01.jpg" class="alingt-center" width="700"
                                                alt="/images/banner/01.jpg">
                                        </div>
                                        <div class="col"></div>
                                    </div>

                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="container" style="width: 500px;" id="purple-card">
                                            <h5 class="text-ligh" id="purple-title"><strong>
                                                    Jornada GSPI
                                                </strong></h5>
                                            <p id="purple-text" class="text-light">"De todos os jogos, o do amor é o
                                                único capaz de transtornar a alma e, ao mesmo tempo, o único no qual o
                                                jogador se abandona necessariamente ao delírio do corpo."</p>
                                            <p style="font-size: 10px;">
                                                <small>Marguerite Yourcenar</small>
                                            </p>

                                            <button type="button" class="btn btn-outline-info col-6 text-light mb-3"
                                                data-bs-toggle="modal" data-bs-target="#participar"><i
                                                    class="fas fa-flag-checkered"></i> PARTICIPAR</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col">
                                            <img src="/images/banner/02.jpg" class="alingt-center" width="700"
                                                alt="/images/banner/01.jpg">
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="container" style="width: 500px;" id="purple-card">
                                            <h5 id="purple-title">
                                                <strong>
                                                    Equipe GSPI
                                                </strong></h5>
                                            <p id="purple-text">"O talento vence jogos, mas só o trabalho em equipe
                                                ganha
                                                campeonatos".</p>
                                            <p style="font-size: 10px;">
                                                <small>Michael Jordan</small>
                                            </p>
                                            <button type="button" class="btn btn-outline-info col-6 text-light mb-3"
                                                data-bs-toggle="modal" data-bs-target="#participar"><i
                                                    class="fas fa-flag-checkered"></i> PARTICIPAR</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col">
                                            <img src="/images/banner/03.jpg" class="alingt-center" width="700"
                                                alt="/images/banner/01.jpg">
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="container" style="width: 500px;" id="purple-card">
                                            <h5 id="purple-title"><strong>
                                                    INOVA
                                                </strong></h5>
                                            <p id="purple-text">"É fazendo que se aprende a fazer aquilo que se deve
                                                aprender a fazer"
                                            </p>
                                            <p style="font-size: 10px;">
                                                <small>Artistóteles</small>
                                            </p>
                                            <button type="button" class="btn btn-outline-info col-6 text-light mb-3"
                                                data-bs-toggle="modal" data-bs-target="#participar"><i
                                                    class="fas fa-flag-checkered"></i> PARTICIPAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <h1 class="text-center mt-5">CONFIRA NOSSO GAME_SPI</h1>
                <hr>
                <div class="row mt-2">
                    <div class="col ml-5">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4 mt-1 mb-3">
                                    <img src="/images/ranking.png" width="300" alt="/images/demo.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">CONFIRAS OS TIMES EM 3 PRIMEIROS</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col">
                                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                                    <div class="card-header">1º Lugar</div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <i class="fas fa-users"></i>
                                                            Equipe Roxo
                                                        </h5>
                                                        <p class="card-text">
                                                            <strong>
                                                               <i class="fas fa-vials"></i>
                                                            </strong> TI - AUTOMAÇÃO - MECÂNICA
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                               <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                                    <div class="card-header">2º Lugar</div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <i class="fas fa-users"></i>
                                                            Equipe Roxo
                                                        </h5>
                                                        <p class="card-text">
                                                            <strong>
                                                               <i class="fas fa-vials"></i>
                                                            </strong> TI - AUTOMAÇÃO - MECÂNICA
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                               <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                                    <div class="card-header">3º Lugar</div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <i class="fas fa-users"></i>
                                                            Equipe Roxo
                                                        </h5>
                                                        <p class="card-text">
                                                            <strong>
                                                               <i class="fas fa-vials"></i>
                                                            </strong> TI - AUTOMAÇÃO - MECÂNICA
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4 mt-5">
                                    <img src="/images/demo.jpg" width="150" alt="/images/demo.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Projetos em Destaque</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4 mt-5">
                                    <img src="/images/demo.jpg" width="150" alt="/images/demo.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Projetos em Destaque</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>